In [10]:
import pandas as pd
import scipy as sp
import numpy as np
from scipy.spatial.distance import euclidean

filepath = 'https://raw.githubusercontent.com/selva86/datasets/master/diamonds.csv'
df = pd.read_csv(filepath).iloc[:, [0,4,6]]
df.head()

   carat  depth  price
0   0.23   61.5    326
1   0.21   59.8    326
2   0.23   56.9    327
3   0.29   62.4    334
4   0.31   63.3    335

In [13]:
def mahalanobis(x=None, data=None, cov=None):
  
    x_minus_mu = x - np.mean(data)
    if not cov:
        cov = np.cov(data.values.T)
    inv_covmat = sp.linalg.inv(cov)#cov matrisin tersini tapir
    left_term = np.dot(x_minus_mu, inv_covmat)#matrisleri ve ya arraylari bir birine vurur
    mahal = np.dot(left_term, x_minus_mu.T)
    return mahal.diagonal()
    
df_x = df[['carat', 'depth', 'price']].head(500)
df_x['mahala'] = mahalanobis(x=df_x, data=df[['carat', 'depth', 'price']])
distance=euclidean(df.loc[0],df.loc[1])
print(df_x.head())
print("euclidean:",distance)

   carat  depth  price        mahala
0   0.23   61.5    326  5.239696e+07
1   0.21   59.8    326  5.239896e+07
2   0.23   56.9    327  5.239813e+07
3   0.29   62.4    334  5.239210e+07
4   0.31   63.3    335  5.239031e+07
euclidean: 1.7001176429882756

In [13]:
df[['carat', 'depth', 'price']]

       carat  depth  price
0       0.23   61.5    326
1       0.21   59.8    326
2       0.23   56.9    327
3       0.29   62.4    334
4       0.31   63.3    335
...      ...    ...    ...
53935   0.72   60.8   2757
53936   0.72   63.1   2757
53937   0.70   62.8   2757
53938   0.86   61.0   2757
53939   0.75   62.2   2757

[53940 rows x 3 columns]

In [7]:
def euclidean(x=None,y=None):
    distance = euclidean(x, y)
    return distance

[1 2 3]